@model IEnumerable<MyProjectForJuly2020.Data.Loai>

<div class="mega-menu-category">
    <ul class="nav">
        @{
            var dataLoai = Model;
            var level1 = dataLoai.Where(lo => lo.MaLoaiCha == null);
        }
        @foreach (var lv1 in level1)
        {
            var level2 = dataLoai.Where(lo => lo.MaLoaiCha == lv1.MaLoai);
            <li>
                <a asp-controller="HangHoa" asp-route-MaLoai="@lv1.MaLoai" asp-action="Index">@lv1.TenLoai</a>
                <div class="wrap-popup">
                    <div class="popup">
                        <div class="row">
                            @foreach (var lv2 in level2)
                            {
                                var level3 = dataLoai.Where(lo => lo.MaLoaiCha == lv2.MaLoai);
                                <div class="col-md-4 col-sm-6">
                                    <h3>
                                        <a asp-controller="HangHoa" asp-route-MaLoai="@lv2.MaLoai" asp-action="Index">@lv2.TenLoai</a>
                                    </h3>
                                    @if (level3.Any())
                                    {
                                        <ul class="nav">
                                            @foreach (var lv3 in level3)
                                            {
                                                <li>
                                                    <a asp-controller="HangHoa" asp-route-MaLoai="@lv3.MaLoai" asp-action="Index">
                                                        @lv3.TenLoai
                                                    </a>
                                                </li>
                                            }

                                        </ul>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>