@using MyProjectForJuly2020.Helpers
@model MyProjectForJuly2020.Data.HangHoa

@{
    ViewData["Title"] = Model.TenHh;
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
    var hostName = $"{Context.Request.Scheme}://{Context.Request.Host}";
}

@section SocialSeo{
    <meta property="og:title" content="@Model.TenHh" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@hostName@Context.Request.Path" />
    <meta property="og:image" content="@hostName/Hinh/HangHoa/@Model.Hinh" />
}
<div class="main-container col1-layout">
    <div class="container">
        <div class="row">
            <div class="col-main">
                <div class="product-view-area">
                    <div class="product-big-image col-xs-12 col-sm-5 col-lg-5 col-md-5">
                        @if (Model.GiamGia > 0)
                        {
                            <div class="icon-sale-label sale-left">Sale</div>
                        }
                        <div class="large-image"> <a href="~/Hinh/HangHoa/@Model.Hinh" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> <img class="zoom-img" src="~/Hinh/HangHoa/@Model.Hinh" alt="products"> </a> </div>
                        <div class="flexslider flexslider-thumb">
                            <ul class="previews-list slides">
                                <li><a href='~/Hinh/HangHoa/@Model.Hinh' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '~/Hinh/HangHoa/@Model.Hinh' "><img src="~/Hinh/HangHoa/@Model.Hinh" alt="Thumbnail 2" /></a></li>
                                <li><a href='images/products/product-1a.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'images/products/product-1a.jpg' "><img src="images/products/product-1a.jpg" alt="Thumbnail 1" /></a></li>
                                <li><a href='images/products/product-1b.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'images/products/product-1b.jpg' "><img src="images/products/product-1b.jpg" alt="Thumbnail 1" /></a></li>
                                <li><a href='images/products/product-1c.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'images/products/product-1c.jpg' "><img src="images/products/product-1c.jpg" alt="Thumbnail 2" /></a></li>
                                <li><a href='images/products/product-1d.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'images/products/product-1d.jpg' "><img src="images/products/product-1d.jpg" alt="Thumbnail 2" /></a></li>
                            </ul>
                        </div>

                        <!-- end: more-images -->

                    </div>
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7 product-details-area">
                        <div class="product-name">
                            <h1>@Model.TenHh</h1>
                        </div>
                        <div class="price-box">
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> @((Model.DonGia * (100 - Model.GiamGia) / 100.0).ToVnd()) </span> </p>
                            @if (Model.GiamGia > 0)
                            {
                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> @Model.DonGia.ToVnd() </span> </p>
                            }
                        </div>
                        <div class="ratings">
                            <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Your Review</a> </p>
                            <p class="availability in-stock pull-right">Tình trạng: <span>@(Model.SoLuong > 0 ? "Còn hàng" : "Hết hàng")</span></p>
                        </div>
                        <div class="short-description">
                            <h2>Thông số kỹ thuật</h2>
                            @Model.MoTa
                        </div>
                        <div class="product-color-size-area">
                            <div class="color-area">
                                <h2 class="saider-bar-title">Color</h2>
                                <div class="color">
                                    <ul>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="size-area">
                                <h2 class="saider-bar-title">Size</h2>
                                <div class="size">
                                    <ul>
                                        <li><a href="#">S</a></li>
                                        <li><a href="#">L</a></li>
                                        <li><a href="#">M</a></li>
                                        <li><a href="#">XL</a></li>
                                        <li><a href="#">XXL</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-variation">
                            <form asp-controller="GioHang" asp-action="ThemVaoGio" asp-route-id="@Model.MaHangHoa" method="post">
                                <div class="cart-plus-minus">
                                    <label for="qty">Số lượng:</label>
                                    <div class="numbers-row">
                                        <div onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) && qty > 0 ) result.value--;return false;" class="dec qtybutton"><i class="fa fa-minus">&nbsp;</i></div>
                                        <input type="text" class="qty" title="Qty" value="1" maxlength="12" max="@Model.SoLuong" id="qty" name="qty">
                                        <div onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="inc qtybutton"><i class="fa fa-plus">&nbsp;</i></div>
                                    </div>
                                </div>
                                <button class="button pro-add-to-cart" title="Mua hàng" type="submit"><span><i class="fa fa-shopping-basket"></i> Mua</span></button>
                            </form>
                        </div>
                        <div class="product-cart-option">
                            <ul>
                                <li><a href="#"><i class="fa fa-heart-o"></i><span>Add to Wishlist</span></a></li>
                                <li><a href="#"><i class="fa fa-link"></i><span>Add to Compare</span></a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i><span>Email to a Friend</span></a></li>
                            </ul>
                        </div>
                        <div class="pro-tags">
                            <div class="pro-tags-title">Tags:</div>
                            <a href="#">ecommerce</a>, <a href="#">bootstrap</a>, <a href="#">shopping</a>, <a href="#">fashion</a>, <a href="#">responsive</a>
                        </div>
                        <div class="share-box">
                            <div class="title">Share in social media</div>
                            <div class="socials-box"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-youtube"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-instagram"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-overview-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="product-tab-inner">
                                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                                    <li class="active"> <a href="#description" data-toggle="tab"> Thông tin Chi tiết </a> </li>
                                    <li> <a href="#reviews" data-toggle="tab">Reviews</a> </li>
                                    <li><a href="#product_tags" data-toggle="tab">Tags</a></li>
                                    <li> <a href="#custom_tabs" data-toggle="tab">Custom Tab</a> </li>
                                </ul>
                                <div id="productTabContent" class="tab-content">
                                    <div class="tab-pane fade in active" id="description">
                                        <div class="std">
                                            @Html.Raw(Model.ChiTiet)
                                        </div>
                                    </div>
                                    <div id="reviews" class="tab-pane fade">
                                        <div class="col-sm-5 col-lg-5 col-md-5">
                                            <div class="reviews-content-left">
                                                <h2>Customer Reviews</h2>
                                                <div class="review-ratting">
                                                    <p><a href="#">Amazing</a> Review by Company</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>Price</th>
                                                                <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Value</th>
                                                                <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Quality</th>
                                                                <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <p class="author"> Angela Mack<small> (Posted on 16/12/2015)</small> </p>
                                                </div>
                                                <div class="review-ratting">
                                                    <p><a href="#">Good!!!!!</a> Review by Company</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>Price</th>
                                                                <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Value</th>
                                                                <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Quality</th>
                                                                <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <p class="author"> Lifestyle<small> (Posted on 20/12/2015)</small> </p>
                                                </div>
                                                <div class="review-ratting">
                                                    <p><a href="#">Excellent</a> Review by Company</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>Price</th>
                                                                <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Value</th>
                                                                <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Quality</th>
                                                                <td><div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <p class="author"> Jone Deo<small> (Posted on 25/12/2015)</small> </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-7 col-lg-7 col-md-7">
                                            <div class="reviews-content-right">
                                                <h2>Write Your Own Review</h2>
                                                <form>
                                                    <h3>You're reviewing: <span>Donec Ac Tempus</span></h3>
                                                    <h4>How do you rate this product?<em>*</em></h4>
                                                    <div class="table-responsive reviews-table">
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>1 star</th>
                                                                    <th>2 stars</th>
                                                                    <th>3 stars</th>
                                                                    <th>4 stars</th>
                                                                    <th>5 stars</th>
                                                                </tr>
                                                                <tr>
                                                                    <td>Quality</td>
                                                                    <td><input type="radio"></td>
                                                                    <td><input type="radio"></td>
                                                                    <td><input type="radio"></td>
                                                                    <td><input type="radio"></td>
                                                                    <td><input type="radio"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Price</td>
                                                                    <td><input type="radio"></td>
                                                                    <td><input type="radio"></td>
                                                                    <td><input type="radio"></td>
                                                                    <td><input type="radio"></td>
                                                                    <td><input type="radio"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Value</td>
                                                                    <td><input type="radio"></td>
                                                                    <td><input type="radio"></td>
                                                                    <td><input type="radio"></td>
                                                                    <td><input type="radio"></td>
                                                                    <td><input type="radio"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="form-area">
                                                        <div class="form-element">
                                                            <label>Nickname <em>*</em></label>
                                                            <input type="text">
                                                        </div>
                                                        <div class="form-element">
                                                            <label>Summary of Your Review <em>*</em></label>
                                                            <input type="text">
                                                        </div>
                                                        <div class="form-element">
                                                            <label>Review <em>*</em></label>
                                                            <textarea></textarea>
                                                        </div>
                                                        <div class="buttons-set">
                                                            <button class="button submit" title="Submit Review" type="submit"><span><i class="fa fa-thumbs-up"></i> &nbsp;Review</span></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="product_tags">
                                        <div class="box-collateral box-tags">
                                            <div class="tags">
                                                <form id="addTagForm" action="#" method="get">
                                                    <div class="form-add-tags">
                                                        <div class="input-box">
                                                            <label for="productTagName">Add Your Tags:</label>
                                                            <input class="input-text" name="productTagName" id="productTagName" type="text">
                                                            <button type="button" title="Add Tags" class="button add-tags"><i class="fa fa-plus"></i> &nbsp;<span>Add Tags</span> </button>
                                                        </div>
                                                        <!--input-box-->
                                                    </div>
                                                </form>
                                            </div>
                                            <!--tags-->
                                            <p class="note">Use spaces to separate tags. Use single quotes (') for phrases.</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="custom_tabs">
                                        <div class="product-tabs-content-inner clearfix">
                                            <p>
                                                <strong>Lorem Ipsum</strong><span>
                                                    &nbsp;is
                                                    simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                                    has been the industry's standard dummy text ever since the 1500s, when
                                                    an unknown printer took a galley of type and scrambled it to make a type
                                                    specimen book. It has survived not only five centuries, but also the
                                                    leap into electronic typesetting, remaining essentially unchanged. It
                                                    was popularised in the 1960s with the release of Letraset sheets
                                                    containing Lorem Ipsum passages, and more recently with desktop
                                                    publishing software like Aldus PageMaker including versions of Lorem
                                                    Ipsum.
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>